.segment-display {
  background-color: black;
  width: 6rem;
  height: 9rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.1rem;
  padding: 0.3rem;
  border-radius: 1em;

  & > div {
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(10rem);
    &.segment-top {
      transform-origin: 50% calc(100% + 0.05rem);
    }
    &.segment-bot {
      transform-origin: 50% -0.1rem;
    }
    & > div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      overflow: hidden;
      position: absolute;
      & > div {
        font-weight: 600;
        position: absolute;
        font-size: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  .segment-top {
    & > div {
      border-top-right-radius: 1em;
      border-top-left-radius: 1em;
      overflow: hidden;
      & > div {
        top: calc(50% + 0.05rem);
        left: 50%;
        transform: translatex(-50%);
      }
    }
  }
  .segment-bot {
    & > div {
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      overflow: hidden;
      & > div {
        top: -50%;
        left: 50%;
        transform: translatex(-50%);
      }
    }
  }
}

@keyframes filpTopMid {
  0% {
    transform: none;
  }

  100% {
    transform: rotateX(-90deg);
    background-color: #8f8f8f;
  }
}

.flip-top-mid-ani {
  transform-origin: 50% calc(100% + 0.05rem);
  animation: filpTopMid 0.1s linear forwards;
}

@keyframes filpMidBot {
  0% {
    transform: rotateX(90deg);
  }
  30% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(30deg);
    background-color: #efefef;
  }
  100% {
    transform: rotateX(0deg);
    background-color: white;
  }
}

.flip-mid-bot-ani {
  transform-origin: 50% -0.1rem;
  animation: filpMidBot calc(0.1s + 0.2s) linear forwards;
  transform: rotateX(90deg);
  animation-delay: 0.1s;
}

.clock {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 10em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 1rem;
  & > div {
    display: flex;
  }
  .clock__divider {
    font-size: 4rem;
    padding-bottom: 0.2em;
    color: white;
  }
}
