.welcome,
.assign {
  color: white;
  font-weight: 600;
}

.welcome {
  h1 {
    font-size: 4em;
    padding-top: 0.5em;
  }
}

.assign {
  h1 {
    font-size: 4em;
    padding-top: 0.5em;
  }
  form {
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    position: relative;
    input {
      background: transparent;
      /* display:block; */
      width: 80%;
      height: 3rem;
      padding: 0rem 2rem;
      z-index: 2;
      font-size: 1.7em;
      &::after {
        content: "";
      }
      &:focus + i,
      &:valid + i {
        height: 3rem;
      }
      &::placeholder {
        text-align: center;
        color: white;
        opacity: 0.8;
      }
    }
    i {
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 0.1rem;
      border-radius: 1rem;
      background-color: white;
      transition: height 0.5s;
    }
  }
}
