doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Momentum
    link(rel="stylesheet", href="css/style.css")
    link(href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css", rel="stylesheet")
    script(defer src="js/app.js")
  body
    div.background
    section.clock
      div.clock__hours
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
      div.clock__divider
        span :
      div.clock__minutes
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
      div.clock__divider 
        span :
      div.clock__seconds
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
    section.welcome.hidden
      h1 Welcome
    section.assign.hidden
      h1 Welcome to momentum
      form
        input(type="text",placeholder="Write your name" required)
        i
    section.panel
      header Title
      ul
        li
          input(type="checkbox" id="t1")
          label(for="t1") 
            i(class="bx bx-check")
            span Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
        li
          input(type="checkbox" id="t1")
          label(for="t1") Test
      footer

    nav 
      div.effect
      button(data-menu="home")
        i(class="bx bx-home") 
      button(data-menu="week")
        i(class="bx bx-calendar-week") 
      button.plus(data-menu="plus")
        i(class="bx bx-plus") 
      button(data-menu="voca")
        i(class="bx bxl-wordpress") 
      button(data-menu="quote")
        i(class="bx bxs-cat") 
