doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.css")
    script(defer src="js/app.js")
  body
    div.background
    section.clock
      div.clock__hours
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
      div.clock__divider
        span :
      div.clock__minutes
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
      div.clock__divider 
        span :
      div.clock__seconds
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
        div.segment-display
            div.segment-top
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
            div.segment-bot
              div.segment-back
                div
                  span 2
              div.segment-front
                div
                  span 2
    section.welcome.hidden
      h1 Welcome
    section.assign.hidden
      h1 Welcome to momentum
      form
        input(type="text",placeholder="Write your name" required)
        i
