@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

@import "compenents/welcome";
@import "compenents/clock";
@import "compenents/background";
@import "compenents/nav";

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.hidden {
  display: none;
}
